/* LoginPage.css */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-form {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-form input {
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-form input:focus,
.login-form button:focus {
  outline: none;
  border-color: #007BFF;
}

/* Googleログインコンテナのスタイル */
.google-login-container {
  margin-top: 20px;
  text-align: center;
}

.google-login-container p {
  margin-bottom: 10px;
  color: #333;
}

/* Googleログインボタンのスタイル */
.google-login-button {
  width: 100%;
  padding: 12px;
  background-color: #db4437;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
}

.google-login-button:hover {
  background-color: #c33d2e;
  transform: scale(1.1);
}

.google-login-button:active {
  transform: scale(0.98);
}